* {
    text-align: center;
}

html {
    background-color: #F8F8FA;
}

table {
    margin: auto;
    border-collapse: collapse;
}

th {
    background-color: #DDDDDD;
}

#date_header {
    width: 120px;
}

#chart_container {
    margin: auto;
    width: 800px;
    height: 400px;
    background-color: #DDFFFF;
}

#weight_chart {
    width: 800px;
    margin: auto;
}

@media (max-width: 768px) {
    #chart_container {
        margin: auto;
        width: 355px;
        height: 190px;
        background-color: #DDFFFF;
    }
    #weight_chart {
        width: 350px;
        margin: auto;
    }
}


.even_row {
    background-color: #DDDDDD;
}